allow hal_gnss_default location_data_file:dir rw_dir_perms;
allow hal_gnss_default location_data_file:dir create;
allow hal_gnss_default location_data_file:file rw_file_perms;
