# TODO - root cause why the kernel generating this denial.
allow kernel domain:process setsched;
dontaudit kernel kernel:capability dac_override;
dontaudit kernel kernel:capability dac_read_search;
